<mat-action-list>
  <button mat-list-item class="center" (click)="onclick('device')" aria-label="Example icon-button with a heart icon">
    <mat-icon>call</mat-icon> Gerät
  </button>
  <button mat-list-item class="center" (click)="onclick('place')" aria-label="Example icon-button with a heart icon">
    <mat-icon>navigation</mat-icon> Ort / Zimmer
  </button>
</mat-action-list>