<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Beschreibung</mat-label>
    <input matInput [(ngModel)]="data.name" [value]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gerätetyp</mat-label>
    <mat-select placeholder="Type" [(ngModel)]="data.type">
      <mat-option [value]="1">Licht</mat-option>
      <mat-option [value]="2">Steckdose</mat-option>
      <mat-option [value]="3">Temperaturfühler</mat-option>
    </mat-select>
  </mat-form-field>


  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Speichern</button>
</div>