mat-grid-tile {
    background: lightblue;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  span.title{
    line-height: initial;
  }

  .mat-tab-group.mat-primary{


  .mat-tab-header.mat-tab-header-pagination-controls-enabled{
    margin-top: 200px;
  }
}