<mat-tab-group>
    <mat-tab *ngFor="let link of links; let l = index" [label]="link.title">

        <div [ngStyle]="getStyle()" style="float: left;">
            <mat-card class="temp">
                <div class="justify-content">
                    <span>
                        {{link.temp}} &deg;C
                    </span>
                    <span class="spacer"></span>
                    <div class="vertical-middle" >
                        <i class="material-icons">
                            cloud_queue
                        </i>
                    </div>
                </div>
            </mat-card>
        </div>

        <div *ngFor="let device of link.devices; let d = index" style="float: left;"
            [ngStyle]="getStyle()">
            <mat-card>
                <div class="justify-content">
                    <div mat-card-avatar class="example-header-image"></div>
                    <span class="title" >
                        <div>{{device.name}}</div>
                        <small>{{device.descript}}</small>
                    </span>
                    <span class="spacer"></span>
                    <mat-slide-toggle (change)="stateChange(l,d)" color="primary" [checked]="checked(device.state)">
                        {{local(device.state)}}
                    </mat-slide-toggle>
                    <mat-menu #appMenu="matMenu">
                        <button mat-menu-item (click)="editDialog(l,d)">Bearbeiten</button>
                        <button mat-menu-item>Löschen</button>
                    </mat-menu>
                    <button mat-icon-button [matMenuTriggerFor]="appMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
        <div style="clear: both; height: 10px;"></div>
    </mat-tab>
</mat-tab-group>

<button mat-fab color="warn" (click)="openBottomSheet()">
    <mat-icon>add</mat-icon>
  </button>

<button mat-raised-button class="example-action-button" (click)="addLink()">
    Add link
</button>
<button mat-raised-button class="example-action-button" (click)="addDevice()">
    Add Device
</button>