/* You can add global styles to this file, and also import other style files */

@import "./variables";
@import "./grid";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.justify-content {
  line-height: 40px;
  display: flex;
  padding: 0;
  & > * {
    margin-left: 5px;
  }
  .mat-slide-toggle {
    height: 40px;
    .mat-slide-toggle-content {
      width: 40px;
    }
  }
  .spacer {
    flex-grow: 1;
  }
}
/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

@import "~@angular/material/theming";

@include mat-core();

// Define the dark theme.
$primary: mat-palette($mat-green);
$accent: mat-palette($mat-blue-grey);
$warn: mat-palette($mat-red);

$theme: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

.vertical-middle i {
  vertical-align: middle;
}

$warn: #ff5d15;
$accent: #57cc63;

.mat-slide-toggle {
  .mat-slide-toggle-bar {
    background-color: darken($warn, 20%);
    height: 30px;
    width: 40px;
    border-radius: 15px;
    margin-right: 12px;
  }

  .mat-slide-toggle-thumb {
    background-color: $warn;
    height: 30px;
    width: 30px;
  }

  .mat-slide-toggle-content {
    color: $warn;
    width: 40px;
  }

  .mat-slide-toggle-thumb-container {
    width: 40px;
    height: 40px;
    top: 0px;
    left: 0;
  }

  .mat-slide-toggle-ripple {
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    height: 60px;
    width: 60px;
  }
}

.mat-card {
  margin: 10px 10px 0 10px;
  border-radius: 14px !important;
}
.mat-fab.mat-button-base.mat-warn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
